.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("assets/images/full-screen-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .top {

    #logo {
      width: 30vh;
      height: 100%;

      img {
        padding-left: 20px;
        height: 100%;
      }
    }

    ul {
      display: none;
    }
  }

  .middle {
    //height: calc(100vh - 100px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .left {
      //background-color: yellow;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: none;
      }

      ul {
        margin: 0;

        li {
          font-size: large;
          margin-top: 10px;
        }
      }
    }

    .right {
      //background-color: red;

      .form {
        h2 {
          text-align: center;
          margin-top: 0;
        }

        ul {
          li {
            margin: 10px 0;
            height: 40px;
            list-style: none;

            span {
              display: inline-block;
              font-weight: bolder;
              width: 30%
            }

            input {
              border: none;
              height: 100%;
              width: 65%;
            }
          }

          div {
            height: 40px;
            display: flex;
            flex-direction: row;

            span {
              width: 30%;
              line-height: 40px;
              font-weight: bolder;
            }

            input {
              height: 80%;
              width: 25%;
            }

            .img-verify {
              margin-left: 5px;
              //width: 60%;
            }
          }

          #fpwd {
            width: 90%;
            display: flex;
            justify-content: flex-end;

            a {
              display: inline-block;
              color: white;
              margin: 10px 0;
            }
          }
        }

        #action {
          text-align: center;

          button {
            vertical-align: top;
            margin: 5px;
            height: 45px;
            width: 30%;
            border: none;
            border-radius: 30px;
          }

          button:nth-child(1) {
            background-color: white;
          }

          button:nth-child(2) {
            background-color: cornflowerblue;
          }
        }
      }
    }
  }

  .bottom {
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: white;
    text-align: center;
  }
}