.backend-container {
  display: flex;
  background-color: #00aced;
  flex-direction: column;
  height: 100vh;

  .middle {
    flex: 1;
    display: flex;
    flex-direction: row;

    .left {
      //background-image: url("assets/images/sidebar-6.jpg");
      //background-repeat: no-repeat;
      //background-size: cover;
      background-color: snow; //#7fecad;
      width: 50vh;
      .title {
        border: 1px solid;
        //margin: 10px 0;
        height: 45px;
        line-height: 45px;
        width: 100%;
        text-align: center;
        letter-spacing: 20px;
        //padding-left: 40px;
        font-weight: bolder;

        span:nth-child(2) {
          position: relative;
          top: 6px;
        }
      }

      ul {
        margin: 0;
        padding-left: 0;
        display: none;

        li {
          border-bottom: 1px solid;
          //font-weight: bold;
          height: 50px;
          line-height: 50px;
          //margin: 10px 0;
          list-style: none;
          //padding-left: 30px;
          text-align: center;

          a {
            display: block;
          }
        }

        li:hover {
          background-color: #8ef6e4//#3eede7;
        }
      }
    }

    .right {
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}